@namespace TaskManagerBlazor.Components
@using TaskManagerBlazor
@using TaskManagerBlazor.Layout
@using TaskManagerBlazor.Models

<EditForm Model="Model" OnValidSubmit="HandleSave" class="mb-5">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Title</label>
        <InputText class="form-control" @bind-Value="Model.Title" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <InputTextArea class="form-control" @bind-Value="Model.Description" />
    </div>

    <div class="mb-3 d-flex gap-4">
        <div>
            <label>Due Date</label>
            <InputDate DateTimeKind=1 class="" @bind-Value="Model.Due" />
        </div>
        <div>
            <label>Due Time</label>
            <input type="time" class="" @bind="@time" />
        </div>
    </div>

    <div class="mb-3">
        <label>Alert Before (optional)</label>
        <InputText class="form-control" @bind-Value="AlertBeforeString" />
        <small>Format: hh:mm:ss</small>
    </div>

    <div class="mb-3">
        <label>Completed</label>
        <InputCheckbox @bind-Value="Model.Completed" />
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-secondary" type="button" @onclick="OnCancel">Cancel</button>
</EditForm>

@code {
    [Parameter] public TaskItem Model { get; set; } = new TaskItem();
    [Parameter] public EventCallback<TaskItem> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private DateOnly? date;
    private TimeOnly? time;

    private string? AlertBeforeString
    {
        get => Model.AlertBefore?.ToString();
        set => Model.AlertBefore = string.IsNullOrWhiteSpace(value) ? null : TimeSpan.Parse(value);
    }

    private async Task HandleSave()
    {
        DateOnly date = DateOnly.FromDateTime(Model.Due);
        Model.Due = new DateTime(date, time != null ? time.Value : new TimeOnly(0));
        await OnSave.InvokeAsync(Model);
    }

    protected override Task OnParametersSetAsync()
    {
        if (Model.Due == default(DateTime))
        {
            Model.Due = DateTime.Now;
        }
        else
        {
            time = TimeOnly.FromDateTime(Model.Due);
        }

        return base.OnParametersSetAsync();
    }
}