@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Task Manager!</h1>

You can keep track with your Tasks. Create new tasks. Mark them as complete. Update tasks. Delete old tasks you don't
need anymore.